ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.auto-style1 {
            width: 569px;
}
.auto-style3 {
            width: 314px;
}
.auto-style4 {
            text-align: center;
}

.auto-style5 {
            background-position: center;
}
.auto-style6 {
    height: 108px;
}
li {

   float:left; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

table th, tr,td{
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #2980B9;
}

.tableContent{
    margin:auto;
    width:20%;
    padding:50px;
}
th,td{
	padding:5x;
	text-align:center;
}
.firstpic{
	width:200px;
	height:200px;
}
#Image2{
  
}

.logopic{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	height:300px;
	background-position:center;
}

.mySlides {
	display:none;
	width:100%;
	height:100%;
}


#map{
    width :700px;
    height:300px;
}

.staticmp{
    width :1000px;
    height:300px;
}

#background-product ul {
    background-color: cadetblue;
   float:left;
   width: 33%; 
}


.product-container{
    height:auto;
    width:80%;
   margin:auto;
   border-style:none;
  
}

#product {
    margin-left:550px;
    margin-right:860px;
    margin-top:100px;
     
}
.admintable{
     margin:auto;
    width:50%;
}